

.container{
    width: 800px;
    height: 60vh;
    background-color: var(--card-bg);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 2rem auto;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.436);
    border-radius: 5px;

    &__panel{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 50%;
        height: 100%;
        padding: 1rem;

        &__form{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: 90%;
            height: 100%;
            margin: 0 auto;
            gap: .5rem;

            h2{
                font-family: var(--font-secondary);
                text-align: center;
                color: var(--card-color);
            }

            span{
                font-family: var(--font-secondary);
                color: var(--card-color);
                a{
                    transition: all 300ms;
                    &:hover{
                        opacity: .5;
                    }
                }
            }

            &__button{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: .5rem;
                margin: 0 auto;
                width: 200px;
                outline: none;
                border: 1px solid var(--card-color);
                padding: .5rem 1rem;
                border-radius: 50px;
                cursor: pointer;
                font-family: var(--font-secondary);
                font-size: 1.2rem;
                background-color: var(--card-bg);
                color: var(--card-color);
                transition: all 300ms;

                &:hover{
                    background-color: var(--card-bg-hover);
                }

                &:disabled {
                    opacity: .3;
                    background-color: transparent;
                    cursor: not-allowed;
                }
            }
        }

        span{
            font-family: var(--font-secondary);
            color: var(--card-color);
            text-align: center;
            margin: .5rem auto;
        }

        &__social{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 13%;
            width: 100%;
            padding: 1rem;

            button{
                background-color: transparent;
                outline: none;
                color: var(--card-color);
                border: none;
                font-size: 2rem;
                cursor: pointer;
            }
        }
    }

    &__header{
        width: 50%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0;
        border-radius: 0 5px 5px 0;
        
        div{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.3); 
            backdrop-filter: blur(3px); 
            padding: 1rem;
            gap: 1rem;

            border-radius: 0 5px 5px 0;


            h2, p{
                color: white;
                text-align: center;
                text-shadow: 0 3px 10px black;
            }

            h2{
                font-family: var(--font-secondary);
            }

            p{
                font-family: var(--font-three);
            }
        }
    }
}