@import './assets/theme/global.scss';

body {
  background-color: var(--body-bg);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 300ms;
}

html{
  scroll-behavior: smooth;
}

.contact{
  border: 1px solid var(--card-color);
  border-radius: 50px;
  padding: 1rem;
  width: 200px;
  text-align: center;
  color: var(--card-color);
}