@import '../../../../assets/theme/mixins.scss';

.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-color: var(--card-bg);
    width: 100%;
    gap: 2rem;

    @include desktop {
        height: 100vh;
    }

    ul{
        display: grid;
        justify-content: center;
        align-content: center;
        margin: 0 auto;
        gap: 1rem;
        list-style: none;

        @include desktop {
            width: 1300px;
            margin: 0 auto;
        }

        @include movilAndTablet {
            width: 100%;
        }

        li{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            color: var(--card-color);

            header{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 1rem;
                font-size: 1.2rem;
                b{
                    font-family: var(--font-secondary);
                    width: 80%;
                }
                svg{
                    font-size: 2rem;
                    width: 20%;

                }
            }

            p{
                font-family: var(--font-secondary);
                font-size: 1rem;
                line-height: 1.5rem;
            }
        }

        @include desktop {
            grid-template-columns: repeat(3, 350px);
            grid-template-rows: repeat(3, auto);
        }

        @include movilAndTablet{
    
            grid-template-columns: repeat(auto-fill, calc(390px - 2rem));
        }
    }

    @include movilAndTablet{
        padding: 1rem 0;
        height: auto;
    }
}